<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dao.Shop_Brand_Dao">
    <select id="queryCount" parameterType="com.fh.entity.vo.BrandParamsVo" resultType="java.lang.Integer">
      select count(*) from shop_brand where 4=4
      <if test="name!=null and name!=''">
          and name like "%"#{name}"%"
      </if>

        <!--like '%${name}%'也可以-->

     <!--<if test="bdate!=null">
          and createdate>=#{bdate}
      </if>
     <if test="ddate!=null">
      &lt;!&ndash; <![CDATA[   ]]>  mybatis 的转义处理      &quot; "   &amp; &  &lt; <  &gt; >  &nbsp; 空格 &ndash;&gt;
          and createdate&lt;=#{ddate}
      </if>

        <if test="ps!=null">
            <foreach collection="ps" item="ps" >
                and peoples like '%${ps}%'
            </foreach>
        </if>-->
    </select>
<!--   0 1 2 3 4 5 6 7 8 9         页数是从1开始    -->
    <select id="queryBrandData" parameterType="com.fh.entity.vo.BrandParamsVo" resultType="com.fh.entity.po.Shop_Brand">
        select * from shop_brand where 3=3
        <if test="name!=null and name!=''">
            and name like "%"#{name}"%"
        </if>

        <!--<if test="bdate!=null">
            and createdate>=#{bdate}
        </if>
        <if test="ddate!=null">
            &lt;!&ndash; <![CDATA[   ]]>  mybatis 的转义处理      &quot; "   &amp; &  &lt; <  &gt; >  &nbsp; 空格 &ndash;&gt;
            and createdate&lt;=#{ddate}
        </if>

        <if test="ps!=null">
            <foreach collection="ps" item="ps" >
                and peoples like '%${ps}%'
            </foreach>
        </if>-->



        limit ${size*(currPage-1)},#{size}

    </select>


    <insert id="addBrand" parameterType="com.fh.entity.po.Shop_Brand">
        insert into shop_brand (name,bandE,imgpath,bandDesc,ord,isdel,createDate,updateDate,author) value
              (#{name},#{bandE},#{imgpath},#{bandDesc},#{ord},0,SYSDATE(),#{updateDate},#{author});
    </insert>
</mapper>
